@font-face {
  font-family: 'time';
  src: url(assets/fonts/Timeless.ttf);
}

@font-face {
  font-family: 'tan';
  font-weight: 100;
  src: url(assets/fonts/MERINGUE.ttf);
}

@font-face {
  font-family: 'play';
  font-weight: normal; 
  src: url(assets/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: 'pop';
  font-weight: normal; 
  src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'penna';
  src: url(assets/fonts/penna.otf);
}


:root {
  --bg-color: radial-gradient(circle, rgba(236, 241, 245, 1) 0%, rgba(245, 240, 236, 1) 100%);
  --base-color: #f5f0ec;
  --text-color: #000;
  --secondary-text: rgba(0, 0, 0, 0.5);
  --tertiary-text: rgba(0, 0, 0, 0.8);
  --primary-color: rgba(0, 0, 0, 0.16);
  --secondary-color: white;
  --accent-color: black;
  --tertiary-color: gray;
  --accent-color2: rgba(0, 0, 0, 0.2);
  --border-color: linear-gradient(rgba(0, 0, 0, 0.6));
  --text-color2: #000;
  --palette-color: #006400;
  --theme-switch: transparent; 
 
  --grid-template-columns: 10% 1fr 1fr 1fr 10%;
    --grid-container-columns: 2/5;
    --section-padding: 16rem;

    --quad: cubic-bezier(0.25, 0.45, 0, 0.8);
    --ease-back: cubic-bezier(0.45, 1.45, 0.8, 1);
}

[data-theme="dark"] {
  --bg-color: black;
  --base-color: black;
  --text-color: #f5f0ec;
  --secondary-text: rgba(245, 240, 236, 0.5);
  --tertiary-text: rgba(245, 240, 236, 0.8);
  --primary-color: transparent;
  --secondary-color: gray;
  --accent-color: transparent;
  --tertiary-color: white;
  --accent-color2: rgba(245, 240, 236, 0.5);;
  --border-color: rgba(245, 240, 236, 0.704);
  --text-color2: gray;
  --palette-color: #ADF802;
  --theme-switch: #f5f0ec;
}

#theme-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1.7rem;
  right: 5svw;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 50%;
  border: 0.06rem solid var(--theme-switch);
}

.themeg{
  stroke: #000;
    stroke-width: 5;
}

.rayPath{
  transform-origin: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

::selection {
  background: transparent;
}

/* For older WebKit browsers (e.g., Safari, older Chrome) */
::-webkit-selection {
  background: transparent;
}

/*html {
  scroll-behavior: smooth;
}*/

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
background: var(--bg-color);
  color: var(--text-color);
  font-family: 'pop', serif;
}

body::-webkit-scrollbar {
  display: none;
}

.cursor {
  position: fixed;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--secondary-text);
    border: none;
    outline: none;
    color: var(--text-color);
    margin: auto;
    padding: 0.5rem 0.5rem;
    border: 0.06rem solid var(--text-color);
    border-radius: 5px;
    box-shadow: 0 0 0.10rem var(--accent-color);
  border-radius: 50%;
  pointer-events: none;
  z-index: -99;
}

.secondary-cursor {
  z-index: 900;
  border-radius: 50%;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
  background: #f5f0ec;
  mix-blend-mode: difference;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out;

  &.regular {
    width: 40px;
    height: 40px;
  }
  &.small {
    width: 60px;
    height: 60px;
  }
}


.secondary-cursor {
  z-index: 990;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  position: fixed;
}


.secondary-cursor {
  width: 30px;
  height: 30px;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bgUp {
  from {
    background-color: transparent;
  }

  to {
    background-color: black;
  }
}

@keyframes bgDown {
  from {
    background-color: black;
  }

  to {
    background-color: transparent;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes translateLeftDot {
  from {
    transform: translate(20px, -50%);
  }

  to {
    transform: translate(0px, -50%);
  }
}

@keyframes translateRightDot {
  from {
    transform: translate(-20px, -50%);
  }

  to {
    transform: translate(0px, -50%);
  }
  }


[data-title]:hover:after {
  opacity: 0.8;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  border: none;
outline: none;
  background-color: var(--text-color);
  color: var(--base-color);
  margin:0.01rem;
  padding: 0.5rem 0.5rem;
  border-radius: 1px;
  box-shadow: 0 0 0.10rem var(--accent-color);
  z-index: 5;
  width: fit-content;
  height: fit-content;
  font-size: 0.8rem;
  content: attr(data-title);
  position: absolute;
  bottom: -3rem;
  white-space: nowrap;
  opacity: 0;
  z-index: 9;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

/*sections*/
section {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 0.06rem;
  background-color: transparent;
}

.home1 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  overflow: hidden;
  padding-top: 0;
  margin-top: 0;
  position: relative;
  top: -0.1rem;
}

.home2 {
  scale: 0.92;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  will-change: transform ease-in-out;
  animation: ease-in-out;
  transition: ease-in-out;
}

.home3 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.about1 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  padding-top: 0;
  margin-top: 0;
  position: relative;
  top: -0.1rem;
}

.about2 {
  scale: 0.92;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.about3 {
  scale: 0.92;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.about4 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.craft1 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  padding-top: 0;
  margin-top: 0;
  position: relative;
  top: -0.2rem;
}

.craft2 {
  scale: 0.9;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.craft3 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.contactForm {
  scale: 0.98;
  padding-top: 0;
  margin-top: 0;
  position: relative;
  top: -0.8rem;
  }

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: transparent;
}

.sticky {
  position: fixed;
  width: 100%;
    background-color: transparent;
     backdrop-filter: blur(5px);
}

.navbar {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 1.7rem;
  padding: 0.5rem 1rem;
  padding-right: 2.5rem;
  border: 0.06rem solid var(--border-color);
  border-radius: 30px;
  cursor: pointer;
  transition: scale 0.5s ease-in-out;
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  background-color: transparent;
  backdrop-filter: blur(5px);
  }

.navbar ul li {
  list-style: none;
}

.navbar a {
  display: inline;
  color: var(--tertiary-text);
  border-radius: 30px;
  text-decoration: none;
  margin-left: 2.5rem;
  list-style: none;
  transition: padding 0.5s ease-in-out, box-shadow 0.5s, scale 0.5s ease-in-out;
  font-size: 0.9rem;
}

.navbar a span {
  display: none;
}

.navbar a:hover {
  background: transparent;
  padding: 0.25rem 1rem;
  box-shadow: 0 0 0.10rem var(--tertiary-text);
}

.navbar a.active {
  border-radius: 30px;
  color: var(--base-color);
  background-color: var(--text-color);
  padding: 0.25rem 1rem;
  scale: 1.01;
}


.menuButton {
  left: 5svh;
  color: var(--text-color);
  display: none;
  align-items: center;
  position: fixed;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  top: 1.7rem;
  justify-content: space-between;
  flex-direction: column;
  transition: scale 0.5s ease-in-out;
}

.stickymenuButton{
  border-radius: 50%;
  background-color: var(--text-color);
  scale: 1.6;
  padding: 0.3rem;
}




/*groups*/
button {
  font-family: 'pop', serif;
}

.scale{
  will-change: transform;
  width: fit-content;
}

h2 {
  font-size: 1.3rem;
  margin: 1.87rem;
  cursor: text;
  text-align: left;
  font-family: 'play', serif;
  font-weight: normal;
}

.svg-filters{
  display: none;
}

.marker-highlighter{
  position:relative;
  color: var(--text-color);
  margin: 1.87rem 1rem;
}

.marker-highlighter::after {
  content: '';
  width: 100%;
  height: 0.05rem;
  background: var(--tertiary-text);
  position: absolute;
  bottom: -0.37rem;
  left: 0;
}

h1 {
  font-size: 5rem;
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
  text-decoration: none;
  cursor: text;
  font-family: 'pop', serif;
  font-weight: 600;
  /*font-weight: normal*/
  color: var(--text-color);
  line-height: 0.7em;
}

.lineParent {
  overflow: hidden;
  font-kerning: none;
  line-height: inherit;
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 25px;
  margin-bottom: -25px;
}

.title{
  will-change: transform;
  opacity: 0;
}

.subtitle{
  will-change: transform;
  opacity: 0;
}

.introtitle{
  will-change: transform;
  opacity: 1;
}

 h3{
  font-size: 1.87rem;
  margin: 1.56rem;
  cursor: text;
  text-align: left;
  font-family: 'play', serif;
}

.dot {
    height: 0.2rem;
    width: 0.2rem;
    border-radius: 50%;
    transform: scale(0); 
    background-color: gray;
    animation: scaling 2s ease-in-out infinite;
    display: inline-block;
    margin-left: 0.25rem;
}

@keyframes scaling{
  0%, 100%{
    transform: scale(0.2);
    background-color: gray;
  }

  40%{
    transform: scale(1);
    background-color: gray;
  }
  50%{
    transform: scale(1);
    background-color: var(--text-color);
  }
}

.dot:nth-child(1){
  animation-delay:0.2s;
}
.dot:nth-child(2){
  animation-delay:0.4s;
}
.dot:nth-child(3){
  animation-delay:0.6s;
  }

h4 {
  font-size: 1rem;
  cursor: text;
  color: var(--tertiary-text);
  text-align: left;
}

h5 {
  font-size: 1.25rem;
  margin: 1.87rem;
  cursor: text;
  text-align: left;
  font-family: 'play', serif;
  position: relative;
  padding-top: 3.12rem;
  font-weight: normal;
}

h5::after {
  content: '';
  width: 3rem;
  height: 0.10rem;
  background: var(--text-color);
  position: absolute;
  bottom: -0.37rem;
  left: 0;
}

h5::before {
  content: '';
  width: 1.5rem;
  height: 0.10rem;
  background: var(--text-color);
  position: absolute;
  bottom: -0.87rem;
  left: 0;
}


p {
  cursor: text;
  font-size: 1rem;
  margin: 0.62rem;
}

.btn2 {
  display: block;
  background-color: transparent;
border: none;
outline: none;
  color: var(--text-color);
  margin: 0.5rem auto;
  padding: 0.5rem 0.5rem;
  border: 0.06rem solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  transition: padding 0.5s ease-in-out, border 0.4s ease-in;
  width: fit-content;
height: fit-content;
  justify-content: center;
  align-items: center;
  text-decoration: none;
position: relative;
  z-index: 1;
  font-size: 0.9rem;
}

.btn2:hover {
  padding: 0.5rem 0.8rem;
  color: var(--base-color);
  border: none;
}

.btn2:before{
transition: 0.5s all ease-in-out;
  border-radius: 5px;
position: absolute;
  background-color: var(--text-color);
top: 0;
bottom: 0;
left: 0;
right: 0;
clip-path: circle(0% at 50% 50%); 
transition: clip-path 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.5s ease-out;
content: "";
opacity: 0;
}

.btn2:hover:before {
  padding: 0.5rem 0.8rem;
  opacity: 1;
  clip-path: circle(100% at 50% 50%);
z-index: -1;
}

.bound {
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin: auto;
}

.contact .bound {
  margin: 1.87rem 3.12rem;
}

.homepage .bound{
  margin: auto 0;
}



.btn2 i {
  rotate: 45deg;
  margin-right: 0.5rem;
}

.homepage .btn2 {
  position: relative;
}

.homepage .btn2 i{
rotate: 0deg;
}

.homepage .btn4 {
  position: relative;
}

.btn4 {
  display: block;
  border: none;
outline: none;
  background-color: var(--text-color);
  color: var(--base-color);
  margin: 0.5rem auto;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: padding 0.5s ease-in-out;
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 5;
  position: relative;
  font-size: 0.9rem;
}

.btn4:hover {
   padding: 0.5rem 0.8rem;
}


.about-col-2 .btn2 i {
  rotate: 0deg;
}

.cert_cv .btn2 {
  margin: 1.87rem 1rem;
}

.cert_cv .btn4 {
  margin: 1.87rem 1rem;
}

.contact-left .btn2 {
  margin: 1.87rem;
}

.contact-left .btn4 {
  margin: 1.87rem;
}

  .contact-left .btn4 i {
  margin-left: 0.5rem;
  }

.contact-left .btn2 i {
  rotate: 0deg;
  margin-left: 0.5rem;

}

/*homepage*/
.homepage {
  align-content: center;
  height: 140svh;
  position: relative;
  display: flex;
  overflow: hidden;
}

.pointer {
  position: fixed;
  top: 15svh;
  left: 18rem;
  rotate: 45deg;
  margin: 1.87rem auto;
  justify-content: center;
  align-items: center;
}

.arrowIcon {
  text-decoration: none;
  fill: var(--text-color);
  display: inline-flex;
  margin-bottom: 1.87rem;
  margin-left: 3.12rem;
  background-color: transparent;
  rotate: 90deg;
}


.statusContainer {
  position: absolute;
  width: 19rem;
  height: 6rem;
  top: 13svh;
  left: 10svw;
}

.statusBar1{
 /* padding: 0.05rem 0.4rem; 
  color: #006400;
  border-radius: 30px;
  width: fit-content; */
  
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.indicator{
  position: absolute;
  left: 0;
  top: 20%;
  transform: translateX(-50%) translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  
  &:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #98FB98;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  
  &:after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--palette-color);
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

.statusBar2{
 /* padding: 0.05rem 0.4rem;
  background-color: #F0E68C;
  color: #FEBE10;
  border-radius: 30px;
  width: fit-content; */
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.statusBar2 p .indicator{
  height: 0.5rem;
    width: 0.5rem;
    border-radius:50%;
    background-color: #FEBE10;
    margin-right: 0.25rem;
  display: inline-block;
}

.h2Container {
  position: absolute;
  width: 55rem;
  height: 6.5rem;
  top: 30svh;
  left: 10svw;
}

.btnContainer {
  position: absolute;
  top: 55svh;
  width: fit-content;
  height: 6.5rem;
  left: 10svw;
}

.btnContainer2 {
  position: absolute;
  top: 55svh;
  width: fit-content;
  height: 6.5rem;
  left: 18svw;
}

.sliderContainer {
  position: absolute;
  top: 20svh;
}

.slider {
  position: relative;
  white-space: nowrap;
  background: -webkit-linear-gradient(to right, var(--base-color) 10%, transparent, var(--base-color) 90%);
}

.slidertext {
  position: relative;
  margin: 0;
  line-height: 2.5em;
  /*background: -webkit-linear-gradient(var(--text-color), #ababab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: var(--text-color);
  font-size: 30vw;
  font-weight: 600;
  font-family: 'pop' , serif;
  padding-right: 3.12rem;
  cursor: text;
}

.slidertext:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
  cursor: text;
}

.homepage h2 {
  font-family: 'play', serif;
  font-weight: normal;
  color: var(--text-color);
  font-size: 2rem;
  margin: 0.2rem 0;
  margin-top: 0;
  position: relative;
}

.homepage div h2 span {
  font-family: 'play', serif;
  font-weight: normal;
  margin-top: 0;
  position: relative;
  color: var(--base-color);
}

.introtext{
  perspective: 500px;
}

.typed {
  width: 100%;
  white-space: pre-line;
  overflow: hidden;
  animation-iteration-count: infinite;
}

#scramble{
  white-space: pre-wrap;
}

#replace{
  white-space: pre-wrap;
}

.char {
  display: inline-block;
  transition: opacity 0.3s ease;
}

.scramble {
  color: var(--tertiary-text);
  opacity: 0.4;
}

.final {
  color: #000;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.faketext{
  display: inline-block;
  opacity: 1;
  transition: color 0.2s ease;
}

.faketext.show{
  color: var(--text-color);
}

.faketext.hide{
  color: #aaa;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.marker {
  margin-top: 0;
  rotate: -7deg;
  position: relative;
  width: fit-content;
  height: fit-content;
  top: -0.5rem;
}

.marker-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);  
}

.marker-highlight{
  position: relative;
  color: var(--base-color);
  background-color: var(--text-color);
  border-radius: 1px;
  padding: 0.3rem 0.5rem;
}

.marker2 {
  padding-top: 0;
  rotate: 5deg;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.marker-wrap2{
  position: relative;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);  
}

.marker-highlight2{
  position: relative;
  color: var(--base-color);
  background-color: var(--text-color);
  border-radius: 1px;
  padding: 0.5rem 0.5rem;
  left: -1rem;
  font-family: 'pop';
  margin-top: 2rem;
  line-height: 1.2em;
}

/*.marker-highlight:before{
  content:"";
  background: linear-gradient(to right, var(--tertiary-text), var(--text-color));
  width: 100%;
  height: 1em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top: 0.2em;
  padding:0.10em 0.25em;
}*/

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  15% { transform: rotate(14.0deg) }
  30% { transform: rotate(-8.0deg) }
  40% { transform: rotate(14.0deg) }
  50% { transform: rotate(-4.0deg) }
  60% { transform: rotate(10.0deg) }
  70% { transform: rotate( 0.0deg) }
 100% { transform: rotate( 0.0deg) }
}

/*recent projects*/
.portfolio{
  overflow-x: hidden;
}

.quota{
  padding-top: 3rem;
  margin-top: 2rem;
  color: var(--text-color);
  opacity: 1;
  padding-bottom: 0;
  padding-left: 1.5rem;
  font-family: 'pop', serif;
  line-height: 1.2em;
}

.quota2{
  color: var(--text-color);
  opacity: 1;
  padding-bottom: 0;
  padding-left: 1.5rem;
  padding-top: 0;
  margin-top: 2rem;
  font-family: 'pop', serif;
  line-height: 1.2em;
}

.markerbound2{
  padding-bottom: 0;
  padding-left: 1.5rem;
  padding-top: 0;
  font-family: 'pop';
  margin: 0;
}

.portfolio h1 {
  padding: 3rem;
  margin-top: 2rem;
}

/*.portfolio .blocktext {
  color: var(--base-color); 
  background: linear-gradient(to right, var(--tertiary-text), var(--text-color));
  border-radius: 1px;
  padding: 0.5rem 0.5rem;
}

.blocktext:after {
  content:'We Live It!';
}

.blocktext:hover:after{
  content:'We Love It!'
}*/

.curveCon {
  position: absolute;
  right: 2rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.curvedIcon {
  text-decoration: none;
  fill: var(--text-color);
  display: inline-flex;
  background-color: transparent;
}

.state1, .state2{
  animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
 from { opacity: 0; }
 to { opacity: 1; }
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.87rem;
  margin: 1.25rem 1.25rem;
}

.work {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.work img {
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.10rem var(--accent-color);
}

 .layer {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.5rem;
  flex-direction: column;
   border-radius: 5px;
}

.work-info{
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--base-color);
  border-radius: 30px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  text-decoration: none;
  border: 0.06rem solid white;
  font-size: 1rem;
  width: 95%;
  height: 3rem;
  bottom: 1rem;
  backdrop-filter: blur(5px); 
}

.work-info a{
   display: flex;
  border: none;
  outline: none;
  background: black;
  margin: 0.1rem;
  padding: 0.2rem 0.2rem;
  border-radius: 50%;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 0 0.10rem black;
  position: relative;
  color: white;
  font-size: 1rem;
}

.work-info p{
  position: relative;
  margin: 0 1rem;
  color: black;
  padding: 0.2rem;
}

.fakemargin {
  font-size: 0.06rem;
  visibility: hidden;
  padding-bottom: 1.87rem;
}

/*contact*/
.contact h1 {
  padding: 3.12rem;
}

.socials {
  margin: 1.87rem auto;
  justify-content: center;
  align-items: center;
}

.socials a {
  display: inline-flex;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 1.87rem;
  margin-left: 3.12rem;
}

.socials a:hover {
  transform: translateY(-0.31rem);
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 1.56rem 0;
  color: var(--tertiary-text);
}


/*about page*/
.about {
  overflow: hidden;
}

.about h1 {
  padding: 3.12rem;
}

.about .h2boundary{
  margin: auto;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.about h2 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-2 {
  flex-basis: 30%;
}

.aboutImg{
  position: relative;
  justify-content: center;
  align-items: center;
}

.aboutImg svg {
 /* scale: 1.5;*/
  margin: auto;
  display: block;
}

#venncircle{
  stroke: var(--text-color);
}
#vennmid{
  fill: var(--text-color);
  scale: 2;
}
#vennline{
  fill: var(--text-color);
}
#venntext{
  fill: var(--text-color);
  font-family: 'pop', serif;
}

.about-col-1 {
  flex-basis: 65%;
  color: var(--text-color);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  justify-content: center;
}

.circle-sketch-highlight{
  position:relative;
  left:0.5em;
}
.circle-sketch-highlight:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:-0.1em;
  border-width: 0.125rem;
  border-style:solid;
  border-color: var(--text-color);
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height: 100%;
  transform:rotate(-6deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.1em 0.25em;
}

.circle-sketch-highlight:after{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  padding:0.1em 0.25em;
  border-width: 0.125rem;
  border-style:solid;
  border-color: var(--text-color);
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:100%;
  transform:rotate(0deg);
  opacity:0.7;
  border-radius:50%;
}

.tab-titles h4 ul li {
  display: inline;
  list-style: none;
  margin: 2rem 1.2rem;
  text-align: center;
  position: relative;
}

.tab-titles ul li a {
  color: var(--tertiary-text);
  text-decoration: none;
  display: inline;
  text-align: center;
  transition: ease-in-out;
  transition: 0.5s ease-in-out;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.tab-titles ul li a::after {
  content: '';
  width: 0;
  height: 0.10rem;
  background: var(--text-color);
  position: absolute;
  left: 50%;
  bottom: -0.37rem;
  transition: width 0.5s ease-in-out, left 0.5s;
}

.tab-titles ul li a:hover::after {
  width: 100%;
  left: 0;
}

.tab-titles ul li a.active {
  scale: 1.05;
}

.tab-titles ul li a.active::after {
  content: '';
  width: 70%;
  height: 0.10rem;
  background: var(--text-color);
  position: absolute;
  left: 0;
  bottom: -0.37rem;
  transition: scale 0.5s ease-in-out;
}

#stack{
  visibility: hidden;
}

.tab-contents {
  font-size: 1rem;
  color: var(--text-color);
  text-align: left;
  cursor: text;
  list-style: none;
  padding-left: 1.2rem;
  padding-right: 0.6rem;
}

.tab-contents-exp {
  font-size: 1rem;
  color: var(--text-color);
  text-align: left;
  cursor: text;
  list-style: none;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.tab-contents-exp h4 {
  border-left: 2px solid var(--tertiary-text);
  margin: 0.6rem;
  list-style: none;
  padding-left: 0.4rem;
}

.tab-contents-exp ul li {
  list-style: none;
}

.tab-contents-exp p {
  margin: 0;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.25rem;
}

.techstack {
  display: flex;
  flex-direction: column;
  align-items: center;   /* horizontally center icon and text */
  justify-content: center;
  width: 6rem;
  height: 6rem;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.techstack:hover {
  transform: translateY(-0.31rem);
}

.techstack svg {
  width: 3rem;
  height: 3rem;
  display: block;
  margin: 0 auto 0.4rem auto; /* space between icon and text */
}

.techstack p {
  color: var(--text-color);
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.2;
}

.cert_cv {
  list-style: none;
}

/*.tab-content {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
 
 
.tab-content.fade-in {
  opacity: 1;
}*/

.fade-in {
  animation: fadeIn 0.4s ease-in-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*services*/
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.87rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.services h2 {
  padding-top: 2.5rem;
}

.fa-brands.fa-figma{
  -webkit-text-stroke: 0.0625rem var(--base-color);
}

.fa-brands.fa-app-store{
  -webkit-text-stroke: 0.0625rem var(--base-color);
}

.serviceCard:hover > .fa-brands.fa-figma{
  -webkit-text-stroke: 0.0625rem var(--text-color);
}

.serviceCard:hover > .fa-brands.fa-app-store{
  -webkit-text-stroke: 0.0625rem var(--text-color);
}

.serviceCard {
  background-color: transparent;
  padding: 1.87rem;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 5px;
  transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  color: var(--text-color);
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 1;
}

.serviceCard i {
  font-size: 2.5rem;
}

.serviceCard:hover > div#lottie path{
  stroke: var(--base-color);
  fill: var(--text-color);
}

.serviceCard:hover > div#lottie2 path{
  stroke: var(--base-color);
  fill: var(--text-color);
  }

div#lottie path {
    stroke: var(--text-color);
    fill: var(--base-color);
}

div#lottie2 path {
    stroke: var(--text-color);
    fill: var(--base-color);
    stroke-width: 1;
  }

div#lottie3 path {
    stroke: var(--text-color);
    fill: var(--base-color);
}

div#lottie4 path {
    stroke: var(--text-color);
    fill: var(--base-color);
}



div#lottie {
  width: 19%;
  height: 19%;
  color: var(--text-color);
  padding: 0;
}

div#lottie2 {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--text-color);
  padding: 0;
}

div#lottie3 {
  width: 2.2rem;
  height: 2.2rem;
  color: var(--text-color);
  padding: 0;
  position: relative;
  top: 0.4rem;
  display: inline-block;
}

div#lottie4 {
  width: 1.65rem;
  height: 1.65rem;
  color: var(--text-color);
  padding: 0;
  position: relative;
  top: 0.4rem;
  display: inline-block;
}

.serviceCard h2 {
  padding-top: 0;
}


.serviceCard:hover {
  transform: translateY(-1.25rem);
  color: var(--base-color);
}

.serviceCard:before {
  position: absolute;
  box-shadow: 0 0 0.10rem var(--accent-color);
  background-color: var(--text-color);
top: 0;
bottom: 0;
left: 0;
right: 0;
clip-path: circle(0% at 50% 50%); 
  transition: clip-path 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.5s ease-out;
  content: "";
  border-radius: 5px;
  opacity: 0;
}

.serviceCard:hover:before {
  clip-path: circle(100% at 50% 50%);
  border-radius: 5px;
  z-index: -1;
  opacity: 1;
}

/*review list*/
.review h2 {
  padding-top: 2.5rem;
}

.review-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.87rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.review-list div:nth-child(1) {
  /*transition-delay: 0.1s;*/
  transition-duration: 0.5s;
  rotate: -10deg;
}

.review-list div:nth-child(2) {
  /*transition-delay: 0.4s;*/
  transition-duration: 0.5s;
  rotate: 4deg;
}

.review-list div:nth-child(3) {
  /*transition-delay: 0.8s;*/
  transition-duration: 0.5s;
  rotate: -6deg;
}

.review-list div {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 1.87rem;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 10px;
  transition: scale 0.5s ease-in-out;
  background-color: transparent;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  color: var(--text-color);
}

.review-list div:hover {
  scale: 1.05;
}


.reviews-section {
  position: relative;
  width: 100%;
  height: 120vh;
  overflow: hidden;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.martyQuote{
  margin: 1rem 1.87rem;
  padding: 2rem 0;
}

.marty{
  font-size: 0.8rem;
  color: #ababab;
  margin: 0 1rem;
}

.sticky-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 250vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.header-text {
  font-size: 30vw;
  font-weight: 600;
  margin: 0;
  font-family: 'pop', sans-serif;
  line-height: 1;
}

.review-card {
  position: absolute;
  left: 100%;
  border-radius: 10px;
  width: 400px;
  padding: 0 1.2rem;
  will-change: transform;
  transform: translateY(-12rem);
  z-index: 60;
  opacity: 0;
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  color: var(--text-color);
}

.review-card h3{
  padding-top: 2rem;
  font-weight: normal;
}



/*contact*/
.contact h5 {
  padding-top: 4.12rem;
}

  .contact h2 {
  font-family: 'pop';
  }

.contact-left {
  flex-basis: 36%;
}

.social-icons {
  margin-left: 1.2rem;
  margin-top: 1.87rem;
}

.social-icons a {
  display: inline-flex;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 1.87rem;
  padding-left: 1.12rem;
}

.social-icons a:hover {
  transform: translateY(-0.31rem);
}

.contact-right {
  flex-basis: 59%;
}

.contact-right form {
  width: 92%;
}

form input,
form textarea {
  width: 100%;
  margin-left: 1.2rem;
  border: 0;
  outline: none;
  background: var(--accent-color2);
  padding: 1rem;
  margin-bottom: 0.6rem;
  color: var(--base-color);
  font-size: 1rem;
  border-radius: 6px;
}

::placeholder {
  color: var(--tertiary-color);
  opacity: 1; 
}

#msg {
  color: greenyellow;
  font-size: 1rem;
}

/*breakpoints*/

@media (max-width: 1024px) {

  .btnContainer2 {
    left: 22svw;
  } 
}

@media (max-width: 768px) {
  .homepage {
    padding: 1.3rem 5%;
  }

  .aboutImg svg {
  width: 20rem;
  height: 12rem;
  margin: 1rem auto;
  display: block;
  }
  
  .menuButton {
    display: inline-flex;
  }

  .menuButton>span {
    height: 0.10rem;
    background-color: var(--text-color);
    transition: 0.5s;
    width: 100%;
  }

  .stickymenuButton>span {
    background-color: var(--base-color);
    transition: 0.5s;
    width: 100%;
  }
  

  .menuButton>span:nth-child(1) {
    opacity: 0;
  }

  .menuButton>span:nth-child(4) {
    opacity: 0;
  }

  .stickymenuButton>span:nth-child(2) {
    height: 0.05rem;
  }

  .stickymenuButton>span:nth-child(3) {
    height: 0.05rem;
  }

  .menuButton>span.active:nth-child(2) {
  transform: translateY(4px) rotate(45deg);
  }

  .menuButton>span.active:nth-child(3) {
   transform: translateY(-4px) rotate(-45deg);
  }

.stickymenuButton>span.active:nth-child(2) {
  transform: translateY(2px) rotate(45deg);
  }

.stickymenuButton>span.active:nth-child(3) {
   transform: translateY(-2px) rotate(-45deg);
  }

  .navbar {
    position: fixed;
    right: 2rem;
    width: 15rem;
    height: 17.7rem;
    background: var(--text-color);
    overflow: hidden;
    text-shadow: none;
    border-radius: 10px;
    z-index: 40;
    margin-top: 0.31rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scaleY(0);
    transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.5s ease-out;
    top: 5rem;
  }

  .navbar.open {
    transform: scaleY(1);
    opacity: 1;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem auto;
    text-align: center;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.3s ease-out;
    opacity: 0;
    box-shadow: none;
    border: none;
    text-shadow: none;
    position: relative;
    width: fit-content;
    color: var(--base-color);
  }

  .navbar.open a {
    transform: scale(1);
    opacity: 1;
  }

.navbar a:nth-child(1) {
  transition-delay: 0.1s;
}

.navbar a:nth-child(2) {
  transition-delay: 0.2s;
}

.navbar a:nth-child(3) {
  transition-delay: 0.3s;
}

.navbar a:nth-child(4) {
  transition-delay: 0.4s;
}

  .navbar a:hover {
    border: none;
    box-shadow: none;
    padding: 0;
    background: transparent;
    color: var(--base-color);
  }
  
  .navbar a::after {
    content: '';
    width: 0;
    height: 0.10rem;
    background: var(--tertiary-text);
    position: absolute;
    left: 50%;
    bottom: -0.37rem;
    transition: width 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), left 0.5s;
  }

  .navbar a:hover::after {
    width: 100%;
    left: 0;
  }

  .navbar a.active {
    border-radius: none;
    color: var(--base-color);
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }

  .navbar a.active::after {
    content: '';
    width: 100%;
    height: 0.10rem;
    background: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -0.37rem;
    transition: width 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), left 0.5s;
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .tab-titles ul li a:hover {
    border-radius: none;
    width: 100%;
    padding: 0;
    box-shadow: none;
    color: var(--tertiary-text);
  }

  .navbar span a::after {
    display: none;
    width: 0;
    height: 0;
  }
}


@media (max-width: 722px) {

  .btnContainer2 {
    left: 28svw;
  } 
}

@media (max-width: 600px) {

  .review-card {
  transform: translateY(-6rem);
}

  .aboutImg{
    top: -0.01rem;
  }

  .aboutImg svg {
  width: 20rem;
  height: 12rem;
  margin: 1rem auto;
  display: block;
  scale: 1.2;
  }

  .contact-right .btn4{
  margin-left: 1.87rem;
  }

  .btnContainer2 {
    left: 32svw;
    top: 85svh;
  } 

  .btnContainer{
    top: 85svh;
  }

  .h2Container{
    top: 55svh;
  }

  .pointer{
    top: 40svh;
    left: 15rem;
  }

  .homepage {
    height: 100svh;
  }

  .menuButton {
    display: inline-flex;
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .navbar {
    height: 20rem;
    width: unset;
    position: fixed;
    left: 2rem;
    background: var(--text-color);
    overflow: hidden;
    text-shadow: none;
    border-radius: 10px;
    z-index: 40;
    margin-top: 0.31rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.5s ease-out;
    top: 5rem;
  }

  .navbar.open {
    transform: scaleY(1);
    opacity: 1;
  }

 .navbar span a::after {
    display: none;
    width: 0;
    height: 0;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem auto;
    width: fit-content;
    text-align: center;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.3s ease-out;
    opacity: 0;
    text-shadow: none;
    position: relative;
    border-radius: none;
    color: var(--base-color);
  }

  .navbar.open a {
    transform: scale(1);
    opacity: 1;
  }

  .navbar a:nth-child(1) {
  transition-delay: 0.1s;
}

.navbar a:nth-child(2) {
  transition-delay: 0.2s;
}

.navbar a:nth-child(3) {
  transition-delay: 0.3s;
}

.navbar a:nth-child(4) {
  transition-delay: 0.4s;
}

  .navbar a:hover {
    border: none;
    box-shadow: none;
    padding: 0;
    background: transparent;
    color: var(--base-color);
  }

  .navbar a::after {
    content: '';
    width: 0%;
    height: 0.10rem;
    background: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -0.37rem;
    transition: width 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), left 0.5s;
  }

  .navbar a:hover::after {
    width: 100%;
    left: 0;
  }

  .navbar a.active {
    border-radius: none;
    color: var(--base-color);
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }

  .navbar a.active::after {
    content: '';
    width: 100%;
    height: 0.10rem;
    background: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -0.37rem;
  }

  .navbar a span {
    display: inline;
  }


  h1 {
    font-size: 3.5rem;
    margin-left:  0;
    margin-right:  0;
    margin-top:  2rem;
    margin-bottom:  0;
  }

  .about-col-1 p {
  text-align: center;
  }

  .layer {
    height: 100%;
  }

  .section {
    margin-top: 0;
    margin-bottom: 0;
  }

  .home2 {
    scale: 0.92;
  }
  

  .PageOut1 {
    position: fixed;
    background: var(--text-color);
    z-index: 990;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
  }
  
  .PageOut2 {
    position: fixed;
    background: var(--text-color);
    z-index: 990;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
  }

  .PagePath {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--base-color);
    font-size: 4rem;
    cursor: default;
    z-index: 995;
    width: fit-content;
    height: fit-content;
    font-family: 'penna', serif;
  }

  .PageIn1 {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--text-color);
    left: 0;
    z-index: 990;
  }

  .PageIn2 {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--text-color);
    right: 0;
    z-index: 990;
  }

.loader {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--base-color);
   background: var(--text-color);
  font-size: 4rem;
  cursor: default;
  z-index: 9999;
  width: fit-content;
  height: fit-content;
  font-family: 'penna', serif;
}

.introduction {
    position: fixed;
      background: var(--text-color);
      z-index: 9990;
      height: 100svh;
      width: 100svw;
      top: 0;
 }
}

.PageOut1 {
    position: fixed;
    background: var(--text-color);
    z-index: 990;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
  }
  
  .PageOut2 {
    position: fixed;
    background: var(--text-color);
    z-index: 990;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
  }

  .PageEnter, PageExit {
    position: fixed;
    background: var(--text-color);
    z-index: 990;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .PagePath {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--base-color);
    font-size: 4rem;
    cursor: default;
    z-index: 1000;
    width: fit-content;
    height: fit-content;
    font-family: 'penna', serif; 
  }

  .PageIn1 {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--text-color);
    left: 0;
    z-index: 990;
  }

  .PageIn2 {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--text-color);
    right: 0;
    z-index: 990;
}

.loader {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--base-color);
   background: var(--text-color);
  font-size: 3rem;
  cursor: default;
  z-index: 9999;
  width: fit-content;
  height: fit-content;
  font-family: 'play', serif;
}

.introduction {
    position: fixed;
      background: var(--text-color);
      z-index: 9990;
      height: 100svh;
      width: 100svw;
     top: 0;
}

.revealer {
  position: fixed;
  background: var(--text-color);
  z-index: 9990;
  height: 100svh;
  width: 100svw;
  top: 0;
  left: 0;
  pointer-events: none;
  transform-origin: center top;
}
