@font-face {
  font-family: 'dot';
  src: url(assets/fonts/LaradotSerif-Regular.ttf);
}

@font-face {
  font-family: 'time';
  src: url(assets/fonts/Timeless.ttf);
}

@font-face {
  font-family: 'penna';
  src: url(assets/fonts/penna.otf);
}

@font-face {
  font-family: 'audrey';
  src: url(assets/fonts/Audrey-Normal.otf);
}

@font-face {
  font-family: 'lemon';
  src: url(assets/fonts/LEMONMILK-Light.otf);
}

@font-face {
  font-family: 'star';
  src: url(assets/fonts/The\ Star\ in\ the\ Midnight.ttf);
}

@font-face {
  font-family: 'memph';
  src: url(assets/fonts/Memphis\ River.otf);
}

@font-face {
  font-family: 'aris';
  src: url(assets/fonts/Arista-Pro-Alternate-Bold-trial.ttf);
}

@font-face {
  font-family: "chillen";
  src: url(assets/fonts/Chillen.ttf);
}

:root {
  --base-color: white;
  --text-color: #000;
  --secondary-text: gray;
  --tertiary-text: rgba(0, 0, 0, 0.924);
  --primary-color: rgba(0, 0, 0, 0.16);
  --secondary-color: white;
  --accent-color: black;
  --tertiary-color: gray;
  --accent-color2: rgba(0, 0, 0, 0.16);
  --border-color: linear-gradient(rgba(0, 0, 0, 0.6));
  --text-color2: #000;
  --palette-color: yellow;
}

[data-theme="dark"] {
  --base-color: black;
  --text-color: white;
  --secondary-text: gray;
  --tertiary-text: white;
  --primary-color: transparent;
  --secondary-color: gray;
  --accent-color: transparent;
  --tertiary-color: white;
  --accent-color2: white;
  --border-color: rgba(255, 255, 255, 0.704);
  --text-color2: gray;
  --palette-color: #ADF802;
}

#theme-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
   top: 1.7rem;
left: 42%;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.16);
  border: 0.06rem solid var(--border-color);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/*html {
  scroll-behavior: smooth;
}*/

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'time';
  background: var(--base-color);
  color: var(--text-color);
}

body::-webkit-scrollbar {
  display: none;
}

.cursor {
  position: fixed;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-color);
    border: none;
    outline: none;
    color: var(--text-color);
    margin: auto;
    padding: 0.5rem 0.5rem;
    border: 0.06rem solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 0 0.25rem var(--accent-color);
  border-radius: 50%;
  pointer-events: none;
  z-index: -99;
}


[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  border: none;
outline: none;
  background-color: var(--text-color);
  color: var(--base-color);
  margin:0.01rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 0.10rem var(--accent-color);
  z-index: 5;
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
  content: attr(data-title);
  position: absolute;
  bottom: -3rem;
  white-space: nowrap;
  opacity: 0;
  z-index: 9;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

/*transition*/
.curve{
    svg, .background{
        position: fixed;
        height: calc(100vh + 600px);
        width: 100vw;
        pointer-events: none;
        left: 0;
        top: 0;
    }
    .background{
        background: var(--text-color);
        transition: opacity 0s linear 0.1s;
    }
    .route{
        position: absolute;
        left: 50%;
        top: 40%;
        color: var(--base-color);
        font-size: 4rem;
        z-index: 999;
        transform: translateX(-50%);
        text-align: center;
        font-family: 'audrey', sans-serif;  
    }
  }

/*sections*/
section {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 0.06rem;
}

.home1 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  overflow: hidden;
  margin-top: 0;
}

.home2 {
  scale: 0.85;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  will-change: transform ease-in-out;
  animation: ease-in-out;
  transition: ease-in-out;
}

.home3 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.about1 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  margin-top: 0;
}

.about2 {
  scale: 0.9;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.about3 {
  scale: 0.9;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.about4 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.craft1 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  margin-top: 0;
}

.craft2 {
  scale: 0.9;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.craft3 {
  scale: 0.98;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  z-index: 100;
  background-color: transparent;
}

.sticky {
  position: fixed;
  width: 100%;
    background-color: transparent;
     backdrop-filter: blur(5px);
}

.stickylogo {
  position: fixed;
  width: 100%;
  background-color: transparent;
}

.logo {
  position: fixed;
  left: 5svw;
  top: 1.7rem;
  font-size: 1rem;
  color: var(--text-color);
  /*text-shadow: 0 0 0.3rem var(--secondary-color), 0.15rem 0.15rem 0.25rem var(--text-color);*/
  text-decoration: none;
  font-weight: 600;
}

.logo span {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  font-family: 'penna', serif;
  padding-left: 0.3rem;
}

.logo span:nth-child(1) {
  animation-delay: 0.15s;
}

.logo span:nth-child(2) {
  animation-delay: 0.9s;
}

.logo span:nth-child(3) {
  animation-delay: 0.3s;
}

.logo span:nth-child(4) {
  animation-delay: 0;
}

.logo span:nth-child(5) {
  animation-delay: 0.05s;
}

.logo span:nth-child(6) {
  animation-delay: 0.6s;
}

.logo span:nth-child(7) {
  animation-delay: 0.45s;
}

.logo span:nth-child(8) {
  animation-delay: 0.7s;
}

.logo span:nth-child(9) {
  animation-delay: 0.9s;
}

.logo span:nth-child(10) {
  animation-delay: 0.95s;
}

.logo span:nth-child(11) {
  animation-delay: 0.75s;
}

.logo span:nth-child(12) {
  animation-delay: 1s;
}

.logo span:nth-child(13) {
  animation-delay: 0.33s;
}

.logo span:nth-child(14) {
  animation-delay: 0.24s;
}

.logo span:nth-child(15) {
  animation-delay: 1.2s;
}

.logo span:nth-child(16) {
  animation-delay: 1.08s;
}

.logo:hover span {
  opacity: 1;
  animation-name: fadeout;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

/*logo animation*/
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar {
  position: fixed;
  right: 5svw;
  top: 1.3rem;
  padding: 0.5rem 1rem;
  padding-right: 2.5rem;
  border: 0.06rem solid linear-gradient(rgba(0, 0, 0, 0.6), #d0f8ec);
  border-radius: 30px;
  cursor: pointer;
  transition: scale, ease-in-out;
  transition: 0.5s ease-in-out;
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  background-color: transparent;
     backdrop-filter: blur(5px);
  }

.navbar ul li {
  list-style: none;
}

.navbar a {
  display: inline;
  color: var(--secondary-text);
  text-decoration: none;
  margin-left: 2.5rem;
  list-style: none;
  font-weight: 200;
  transition: scale, ease-in-out;
  transition: 0.5s ease-in-out;
  font-size: 1rem;
}

.navbar a span {
  display: none;
}

.navbar a:hover {
  border-radius: 30px;
  background: transparent;
  padding: 0.05rem 1rem;
  box-shadow: 0 0 0.10rem var(--secondary-text);
}

.navbar a.active {
  border-radius: 30px;
  color: var(--base-color);
  background-color: var(--text-color);
  padding: 0.05rem 1rem;
 /* box-shadow: 0 0 0.10rem var(--accent-color);*/
  scale: 1.01;
}

.navbar .social-icons {
  display: none;
}

#check {
  display: none;
}

.menuButton {
  right: 5%;
  color: var(--text-color);
  display: none;
  align-items: center;
  position: fixed;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  top: 1.7rem;
  justify-content: space-between;
  flex-direction: column;
  transition: scale 0.5s ease-in-out;
}

.stickymenuButton{
  padding: 0.3rem;
  border-radius: 50%;
  background-color: var(--text-color);
  scale: 1.8;
}



/*groups*/
h2 {
  font-size: 1.2rem;
  margin: 1.87rem;
  cursor: text;
  background: linear-gradient(to right, var(--text-color), var(--secondary-text), var(--text-color));
  color: transparent;
  background-clip: text;
  display: block;
  text-align: left;
  font-family: 'lemon', serif;
}

h1 {
  color: var(--text-color);
  font-size: 5rem;
  font-weight: 500;
  text-align: left;
  margin: 2.5rem;
  text-decoration: none;
  cursor: text;
  font-family: 'audrey', serif;
}

h3 {
  font-size: 1.87rem;
  margin: 1.56rem;
  font-weight: 400;
  cursor: text;
  text-align: left;
  font-family: 'time', serif;
}

.dot {
    height: 0.25rem;
    width: 0.25rem;
    border-radius:50%;
    transform: scale(0);
    background-color: gray;
    animation: scaling 2.5s ease-in-out infinite;
    display: inline-block;
    margin-left: 0.25rem;
}

@keyframes scaling{
  0%, 100%{
    transform: scale(0.2);
    background-color: gray;
  }

  40%{
    transform: scale(1);
    background-color: gray;
  }
  50%{
    transform: scale(1);
    background-color: var(--text-color);
  }
}

.dot:nth-child(1){
  animation-delay:0.2s;
}
.dot:nth-child(2){
  animation-delay:0.4s;
}
.dot:nth-child(3){
  animation-delay:0.6s;
  }

h4 {
  font-size: 1rem;
  cursor: text;
  color: var(--secondary-text);
  text-align: left;
}

h5 {
  font-size: 1.25rem;
  margin: 1.87rem;
  cursor: text;
 background: linear-gradient(to right, var(--text-color), var(--secondary-text), var(--text-color));
  color: transparent;
  background-clip: text;
  display: block;
  text-align: left;
  font-family: 'time', serif;
  position: relative;
  padding-top: 3.12rem;
}

h5::after {
  content: '';
  width: 3rem;
  height: 0.18rem;
  background: var(--text-color);
  position: absolute;
  bottom: -0.37rem;
  left: 0;
}

h5::before {
  content: '';
  width: 1.5rem;
  height: 0.18rem;
  background: var(--text-color);
  position: absolute;
  bottom: -0.75rem;
  left: 0;
}


p {
  cursor: text;
  font-size: 1rem;
  margin: 0.62rem;
}

.btn2 {
  display: block;
  background-color: var(--base-color);
border: none;
outline: none;
  color: var(--text-color);
  margin: 1.87rem auto;
  padding: 0.5rem 0.5rem;
  border: 0.06rem solid var(--tertiary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: padding, box-shadow ease-in-out;
  transition: 0.4s ease-in-out;
  width: fit-content;
height: fit-content;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /*box-shadow: 0 0 0.10rem var(--accent-color);*/
  margin-bottom: 2.5rem;
position: relative;
  z-index: 1;
  font-weight: 200;
}

.btn2:hover {
  padding: 0.5rem 1rem;
  color: var(--base-color);
  border: none;
}

.btn2:before{
transition: 0.4s all ease;
position: absolute;
/*box-shadow: 0 0 0.10rem var(--accent-color);*/
  background-color: var(--text-color);
top: 50%;
bottom: 50%;
left: 50%;
right: 50%;
opacity: 0;
content: "";
}

.btn2:hover:before {
padding: 0.5rem 1rem;
transition: 0.4s all ease;
  border-radius: 5px;
z-index: -1;
top: 0;
bottom: 0;
left: 0;
right: 0;
opacity: 1;
  animation: border 0.4s ease;
/*  box-shadow: inset 0 0 0 0.10rem var(--accent-color);*/
}


@keyframes border{
  0%{
    border-radius: 50%;
  }

  40%{
    border-radius: 10px;
  }

  100%{
    border-radius: 10px;
  }
}

.bound {
  width: fit-content;
  height: 2.8rem;
  transform: scale(4);
  position: absolute;
  margin: auto;

}

.contact .bound {
  margin: 1.87rem;
}



.btn2 i {
  rotate: 45deg;
  margin-right: 0.5rem;
}

.homepage .btn2 {
  margin: 1rem 1rem;
  position: relative;
}

.homepage .btn2 i{
rotate: 0deg;
}

.homepage .btn4 {
  position: relative;
  margin: 1rem 1rem;
}

.btn4 {
  display: block;
  border: none;
outline: none;
  background-color: var(--text-color);
  color: var(--base-color);
  margin: 1.87rem auto;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: scale, ease-in-out;
  transition: 0.4s ease-in-out;
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-decoration: none;
 /* box-shadow: 0 0 0.10rem var(--accent-color);*/
  margin-bottom: 2.5rem;
  z-index: 5;
  position: relative;
  font-weight: 200;
}

.btn4:hover {
   padding: 0.5rem 1rem;
/*  box-shadow: 0 0 0.10rem var(--accent-color);*/
}


.about-col-2 .btn2 i {
  rotate: 0deg;
}

.cert_cv .btn2 {
  margin: 1.87rem;
}

.cert_cv .btn4 {
  margin: 1.87rem;
}

.contact-left .btn2 {
  margin: 1.87rem;
}

.contact-left .btn4 {
  margin: 1.87rem;
}

  .contact-left .btn4 i {
  margin-left: 0.5rem;
  }

.contact-left .btn2 i {
  rotate: 0deg;
  margin-left: 0.5rem;

}

.btn3 {
  display: block;
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 1.87rem;
  padding: 0.5rem 1rem;
  border: 0.06rem solid var(--border-color);
  border-radius: 10px;
  cursor: pointer;
  transition: scale, ease-in-out;
  transition: 0.5s ease-in-out;
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 0 0.10rem var(--accent-color);
  margin-bottom: 2.5rem;
  float: right;
  right: 3.75rem;
  position: absolute;
}

.btn3:hover {
  color: var(--base-color);
  scale: 1.1;
  box-shadow: 0 0 0.25rem var(--accent-color);
  background-color: var(--text-color);
}

/*transparent tags*/

/*homepage*/
.homepage {
  align-content: center;
  height: 100svh;
  position: relative;
  display: flex;
  overflow: hidden;
}

.pointer {
  position: fixed;
  top: 2svh;
  left: 18rem;
  rotate: 45deg;
  margin: 1.87rem auto;
  justify-content: center;
  align-items: center;
}

.arrowIcon {
  text-decoration: none;
  font-size: 2.5rem;
  fill: var(--text-color);
  display: inline-flex;
  transition: transform, ease-in-out;
  transition: 0.5s ease-in-out;
  margin-bottom: 1.87rem;
  margin-left: 3.12rem;
  background-color: transparent;
  rotate: 90deg;
}

.pointer2 {
  position: fixed;
  top: 35svh;
  left: 20rem;
  rotate: 135deg;
  margin: 1.87rem auto;
  justify-content: center;
  align-items: center;
}

.pointer2 i {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--text-color);
  display: inline-flex;
  transition: transform, ease-in-out;
  transition: 0.5s ease-in-out;
  margin-bottom: 1.87rem;
  margin-left: 3.12rem;
}

.statusContainer {
  position: absolute;
  width: 19rem;
  height: 6rem;
  top: 13svh;
  left: 10svw;
}

.statusBar1{
 /* padding: 0.05rem 0.4rem; 
  color: #006400;
  border-radius: 30px;
  width: fit-content; */
  
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.indicator{
  position: absolute;
  left: 0;
  top: 20%;
  transform: translateX(-50%) translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  
  &:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #98FB98;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  
  &:after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #006400;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

.statusBar2{
 /* padding: 0.05rem 0.4rem;
  background-color: #F0E68C;
  color: #FEBE10;
  border-radius: 30px;
  width: fit-content; */
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.statusBar2 p .indicator{
  height: 0.5rem;
    width: 0.5rem;
    border-radius:50%;
    background-color: #FEBE10;
    margin-right: 0.25rem;
  display: inline-block;
}

.socialContainer {
  position: absolute;
  width: 19rem;
  height: 6.5rem;
  top: 16svh;
  left: 10svw;
}

.h2Container {
  position: absolute;
  width: 35rem;
  height: 6.5rem;
  top: 20svh;
  left: 10svw;
}

.btnContainer {
  position: absolute;
  top: 72svh;
  width: 18.5rem;
  height: 6.5rem;
  left: 0svw;
}

.sliderContainer {
  position: absolute;
  top: 35svh;
}

.slider {
  position: relative;
  white-space: nowrap;
}



.slidertext {
  position: relative;
  margin: 0px;
  color: var(--text-color);
  font-family: 'penna' , serif;
  font-size: 12rem;
  font-weight: normal;
  padding-right: 3.12rem;
}

.slidertext:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.homepage h2 {
  font-family: 'time', serif;
  font-weight: 200; 
  color: var(--text-color);
  font-size: 1.4rem;
  margin: 0.5rem 0;
  position: relative;
}

.homepage h2 span {
  font-family: 'time', serif;
}

.hometext{
  margin: 0;
  color: var(--secondary-text);
}

.homepage .socials {
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.homepage .socials a {
  text-decoration: none;
  font-size: 1.4rem;
  -webkit-text-stroke: 0.0625rem var(--base-color);
  color: var(--text-color);
  display: inline-flex;
  transition: transform, ease-in-out;
  transition: 0.5s ease-in-out;
  margin-left: 0.5rem;
}

.typed {
  width: 100%;
  white-space: pre-line;
  overflow: hidden;
  animation-iteration-count: infinite;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

#helloText {
 /* font-family: 'time', serif;*/
}

#helloText:after {
  content: " ";
  animation: animate 12s ease infinite;
}

@keyframes animate {
  0% {
    content: "Yo";
  }

  25% {
    content: "Hey";
  }

  50% {
    content: "Hello";
  }

  75% {
    content: "Bonjour";
  }

  100% {
    content: "Ohaiyoo";
  }
}

.marker-highlight{
  position:relative;
  color: black;
}

.marker-highlight:before{
  content:"";
  background-color: var(--palette-color);
  width:100%;
  height: 1em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:0.1em;
  padding:0 0.25em;
}

.slideUp {
  position: absolute;
  top: 110%;
  /*  color: transparent;
   -webkit-text-stroke: 0.0312rem var(--text-color);*/
  -webkit-animation: fadeslideUp 8s infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  -moz-animation: fadeslideUp 8s infinite;
  /* Fx 5+ */
  -o-animation: fadeslideUp 8s infinite;
  /* Opera 12+ */
  animation: fadeslideUp 8s infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#slide2 {
  animation-delay: -6s;
  -webkit-animation-delay: -6s;
}

#slide3 {
  animation-delay: -4s;
  -webkit-animation-delay: -4s;
}

#slide4 {
  animation-delay: -2s;
  -webkit-animation-delay: -2s;
}

@-webkit-keyframes fadeslideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40%);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
  }

  25% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
  }
}

@-moz-keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }

  10% {
    opacity: 1;
    transform: translateY(-50%);
  }

  20% {
    opacity: 1;
    transform: translateY(-50%);
  }

  25% {
    opacity: 0;
    transform: translateY(-60%);
  }

  100% {
    opacity: 0;
    transform: translateY(-60%);
  }
}

@-o-keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }

  10% {
    opacity: 1;
    transform: translateY(-50%);
  }

  20% {
    opacity: 1;
    transform: translateY(-50%);
  }

  25% {
    opacity: 0;
    transform: translateY(-60%);
  }

  100% {
    opacity: 0;
    transform: translateY(-60%);
  }
}

@keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
    -ms-transform: translateY(-40%);
  }

  10% {
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  20% {
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  25% {
    opacity: 0;
    transform: translateY(-60%);
    -ms-transform: translateY(-60%);
  }

  100% {
    opacity: 0;
    transform: translateY(-60%);
    -ms-transform: translateY(-60%);
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  15% { transform: rotate(14.0deg) }
  30% { transform: rotate(-8.0deg) }
  40% { transform: rotate(14.0deg) }
  50% { transform: rotate(-4.0deg) }
  60% { transform: rotate(10.0deg) }
  70% { transform: rotate( 0.0deg) }
 100% { transform: rotate( 0.0deg) }
}

/*recent projects*/
.portfolio{
  overflow: hidden;
}

.portfolio p {
  padding-top: 3rem;
  padding-bottom: 0.6rem;
  padding-left: 1.5rem;
}

.portfolio h1 {
  padding: 3.12rem;
}

.portfolio .blocktext {
  color: var(--base-color);
  background: linear-gradient(to right, var(--secondary-text), var(--text-color));
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
}

.blocktext:after {
  content:'We Live It!';
}

.blocktext:hover:after{
  content:'We Love It!'
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.87rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.work {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.work img {
  border-bottom: 1.25rem;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  box-shadow: 0 0 0.25rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
}

 .layer {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.5rem;
  flex-direction: column;
   border-radius: 5px;
  transition: transform, height 0.4s ease-in;
}

.work-info{
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  border-radius: 30px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  text-decoration: none;
  border: 0.08rem solid white;
  font-size: 1rem;
  width: 95%;
  height: 3rem;
  bottom: 1rem;
  backdrop-filter: blur(5px); 
}

.work-info a{
   display: flex;
  border: none;
  outline: none;
  background: white;
  margin: 0.1rem;
  padding: 0.2rem 0.2rem;
  border-radius: 50%;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 0 0.10rem white;
  position: relative;
  color: black;
  font-size: 1rem;
}

.work-info p{
  position: relative;
  margin: 0 1rem;
  color: var(--secondary-text);
  font-family: 'time', serif;
  padding: 0.2rem;
}

.work:hover img {
  transform: scale(1.05);
}

.fakemargin {
  font-size: 0.06rem;
  padding-bottom: 1.87rem;
}

/*contact*/
.contact h1 {
  padding: 3.12rem;
}

.socials {
  margin: 1.87rem auto;
  justify-content: center;
  align-items: center;
}

.socials a {
  text-decoration: none;
  font-size: 1.87rem;
  -webkit-text-stroke: 0.0625rem var(--base-color);
  color: var(--text-color);
  display: inline-flex;
  transition: transform, ease-in-out;
  transition: 0.5s ease-in-out;
  margin-bottom: 1.87rem;
  margin-left: 3.12rem;
}

.socials a:hover {
  transform: translateY(-0.31rem);
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 1.56rem 0;
  font-weight: 300;
  color: var(--secondary-text);
}


/*about page*/
.about {
  overflow: hidden;
}

.about h1 {
  padding: 3.12rem;
}

.about h2 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 30%;
}

.about-col-1 img {
  display: block;
  backdrop-filter: blur(5px);
  transition: transform 1s;
  background: transparent;

}

.about-col-1:hover img {
  transform: scale(1.05);
}

.about-col-1 h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.about-col-2 {
  flex-basis: 65%;
  color: var(--text-color);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  justify-content: center;
}

  .codeProp {
  position: fixed;
  top: 48%;
  left: 38%;
  margin: 1.87rem auto;
  justify-content: center;
  align-items: center;
}

.codeProp i {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--text-color);
  display: inline-flex;
  transition: transform, ease-in-out;
  transition: 0.5s ease-in-out;
  margin-bottom: 1.87rem;
  margin-left: 3.12rem;
 }

.codeProp:hover i{
  animation: colorwheel 5s ease-in-out infinite;
}

@keyframes colorwheel{
  0%, 100%{
    color: var(--text-color);
  }

  20%{
    color: red;
  }

  40%{
    color: yellow;
  }
  
  60%{
    color: #ADF802;
  }

  80%{
    color: navy;
  }
}

.circle-sketch-highlight{
  position:relative;
  left:0.5em;
}
.circle-sketch-highlight:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:-0.1em;
  border-width: 0.125rem;
  border-style:solid;
  border-color: var(--text-color);
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height: 100%;
  transform:rotate(-6deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.1em 0.25em;
}

.circle-sketch-highlight:after{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  padding:0.1em 0.25em;
  border-width: 0.125rem;
  border-style:solid;
  border-color: var(--text-color);
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:100%;
  transform:rotate(3deg);
  opacity:0.7;
  border-radius:50%;
}

.tab-titles h4 ul li {
  display: inline;
  list-style: none;
  margin: 0.6rem 1.2rem;
  text-align: center;
  position: relative;
}

.tab-titles ul li a {
  color: var(--tertiary-color);
  text-decoration: none;
  display: inline;
  text-align: center;
  transition: ease-in-out;
  transition: 0.5s ease-in-out;
}

.tab-titles ul li a::after {
  content: '';
  width: 0;
  height: 0.18rem;
  background: var(--text-color);
  position: absolute;
  left: 50%;
  bottom: -0.37rem;
  transition: 0.5s;
  transition: scale, ease-in-out;
  transition: 0.5s ease-in-out;
}



.tab-titles ul li a:hover::after {
  width: 100%;
  left: 0;
}

.tab-titles ul li a.active {
  scale: 1.05;
}

.tab-titles ul li a.active::after {
  content: '';
  width: 70%;
  height: 0.18rem;
  background: var(--text-color);
  position: absolute;
  left: 0;
  bottom: -0.37rem;
  transition: 0.5s;
  transition: scale, ease-in-out;
  transition: 0.5s ease-in-out;
}

.tab-col-1 {
  flex-basis: 40%;
}

.tab-col-2 {
  flex-basis: 60%;
}

#stacks {
  color: transparent;
}

.tab-contents {
  font-size: 1rem;
  color: var(--text-color);
  text-align: left;
  cursor: text;
  list-style: none;
  padding-left: 1.2rem;
  padding-right: 0.6rem;
}

.tab-contents-exp {
  font-size: 1rem;
  color: var(--text-color);
  text-align: left;
  cursor: text;
  list-style: none;
  padding-left: 1rem;
  padding-right: 1.2rem;
}

.tab-contents-exp h4 {
  border-left: 2px solid var(--tertiary-color);
  padding-left: 0.6rem;
  margin: 0.6rem;
  list-style: none;
}

.tab-contents-exp ul li {
  padding-left: 0.6rem;
}

.tab-contents-exp p {
  margin: 0;
}

.tab-contents-exp i {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  position: absolute;
  right: 98.4%;
  color: rgba(0, 0, 0, 0.16);
  display: none;
}

.tools {
  color: var(--secondary-text);
  list-style: none;
  display: inline;
  font-size: 3rem;
  align-items: center;
}

.tools i {
  transition: transform, ease-in-out;
  transition: 1s ease-in-out;
}

.tools i:hover {
  transform: translateY(-0.31rem);
  color: var(--text-color);
}

.tools p {
  color: var(--secondary-text);
  font-size: 0.8rem;
  list-style: none;
  transition: 0.5s ease-in-out;
}

.tools i:hover p {
  color: var(--text-color);
}

.cert_cv {
  list-style: none;
}

/*services*/
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.87rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.services h2 {
  padding-top: 2.5rem;
}

.fa-brands.fa-figma{
  -webkit-text-stroke: 0.0625rem var(--base-color);
}

.fa-brands.fa-app-store{
  -webkit-text-stroke: 0.0625rem var(--base-color);
}

.services-list div:hover ~ .fa-brands.fa-figma{
  -webkit-text-stroke: 0.0625rem var(--text-color);
}

.services-list div:hover ~ .fa-brands.fa-app-store{
  -webkit-text-stroke: 0.0625rem var(--text-color);
}

.services-list div {
  background-color: var(--primary-color);
  padding-left: 1.87rem;
  padding-right: 1.87rem;
  padding-top: 1.87rem;
  padding-bottom: 0.6rem;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  color: var(--text-color);
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 1;
}

.services-list div i {
  font-size: 2.5rem;
}

.services-list div h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  padding-top: 0;
}


.services-list div:hover {
  transform: translateY(-20px);
  color: var(--base-color);
}

.services-list div:before {
  transition: 0.4s all ease;
  position: absolute;
  box-shadow: 0 0 0.20rem var(--accent-color);
  background-color: var(--text-color);
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  opacity: 0;
  content: "";
}

.services-list div:hover:before {
  transition: 0.4s all ease;
  border-radius: 5px;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  animation: border 0.4s ease;
}


@keyframes border {
  0% {
    border-radius: 50%;
  }

  40% {
    border-radius: 5px;
  }

  100% {
    border-radius: 5px;
  }
}

/*review list*/
.review h2 {
  padding-top: 2.5rem;
}

.review-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.87rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.review-list div:nth-child(1) {
  /*transition-delay: 0.1s;*/
  transition-duration: 1s;
  rotate: -10deg;
}

.review-list div:nth-child(2) {
  /*transition-delay: 0.4s;*/
  transition-duration: 1s;
  rotate: 4deg;
}

.review-list div:nth-child(3) {
  /*transition-delay: 0.8s;*/
  transition-duration: 1s;
  rotate: -6deg;
}

.review-list div {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 1.87rem;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 10px;
  transition: scale, ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: transparent;
  box-shadow: 0 0 0.10rem var(--accent-color);
  border: 0.06rem solid var(--border-color);
  outline: 1.8px solid var(--base-color);
  outline-offset: -10px;
  color: var(--text-color);
}

.review-list div:hover {
  scale: 1.1;
}

/*contact*/
.contact h2 {
  padding-top: 3.12rem;
}

.contact-left {
  flex-basis: 35%;
}

.social-icons {
  margin-left: 1.2rem;
  margin-top: 1.87rem;
}

.social-icons a {
  text-decoration: none;
  font-size: 1.87rem;
  color: var(--secondary-text);
  display: inline-block;
  transition: transform, ease-in-out;
  transition: 0.5s ease-in-out;
  margin-bottom: 1.87rem;
  padding-left: 1.2rem;
}

.social-icons a:hover {
  color: var(--text-color);
  transform: translateY(-0.31rem);
}

.contact-right {
  flex-basis: 60%;
}

.contact-right form {
  width: 92%;
}

form input,
form textarea {
  width: 100%;
  margin-left: 1.2rem;
  border: 0;
  outline: none;
  background: var(--accent-color2);
  padding: 1rem;
  margin-bottom: 0.6rem;
  color: black;
  font-size: 1.12rem;
  border-radius: 6px;
}

.contact-right .btn2 {
  color: var(--base-color);
  background: var(--text-color);
}

#msg {
  color: greenyellow;
  font-size: 1.12rem;
}

/*breakpoints*/
@media (max-width: 992px) {
  .homepage {
    padding: 1.3rem 5%;
  }

  .menuButton {
    display: inline-flex;
  }


  .menuButton>span {
    height: 0.10rem;
    background-color: var(--text-color);
    transition: 0.5s;
    width: 80%
  }

  .stickymenuButton>span {
    background-color: var(--base-color);
    transition: 0.5s;
    width: 80%
  }
  

  .menuButton>span:nth-child(1) {
    opacity: 0;
  }

  .menuButton>span:nth-child(4) {
    opacity: 0;
  }

  .stickymenuButton>span:nth-child(2) {
    height: 0.05rem;
  }

  .stickymenuButton>span:nth-child(3) {
    height: 0.05rem;
  }

  #check:checked~.menuButton>span:nth-child(2) {
  transform: translateY(4px) rotate(405deg);
  }

  #check:checked~.menuButton>span:nth-child(3) {
   transform: translateY(-4px) rotate(-405deg);
  }

#check:checked~.stickymenuButton>span:nth-child(2) {
  transform: translateY(2px) rotate(405deg);
  }

  #check:checked~.stickymenuButton>span:nth-child(3) {
   transform: translateY(-2px) rotate(-405deg);
  }


  .navbar {
    position: absolute;
    right: 2rem;
    width: 15rem;
    height: 17.7rem;
    background: var(--tertiary-text);
    backdrop-filter: blur(50px);
    box-shadow: 0 1rem 1rex rgba(0, 0, 0, 0.1), 0 0 6px var(--tertiary-text);
    overflow: hidden;
    transition: 0.3s ease;
    text-shadow: none;
    border-radius: 10px;
    z-index: 40;
    margin-top: 0.31rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(0);
    transition: 0.3s ease;
    top: 5rem;
  }

  #check:checked~.navbar {
    transform: scale(1);
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem auto;
    text-align: center;
    transform: scale(0);
    transition: 0.3s ease;
    opacity: 0;
    box-shadow: none;
    border: none;
    text-shadow: none;
    position: relative;
    width: fit-content;
  }

  #check:checked~.navbar a {
    transform: scale(1);
    opacity: 1;
  }

.navbar a:nth-child(1) {
  transition-delay: 0.1s;
}

.navbar a:nth-child(2) {
  transition-delay: 0.2s;
}

.navbar a:nth-child(3) {
  transition-delay: 0.3s;
}

.navbar a:nth-child(4) {
  transition-delay: 0.4s;
}

  .navbar a:hover {
    border: none;
  }
  
  .navbar a::after {
    content: '';
    width: 0;
    height: 0.18rem;
    background: var(--secondary-text);
    position: absolute;
    left: 50%;
    bottom: -0.37rem;
    transition: 0.5s;
    transition: scale, ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .navbar a:hover::after {
    width: 100%;
    left: 0;
  }

  .navbar a.active {
    border-radius: none;
    color: var(--base-color);
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    scale: 1;
  }

  .navbar a.active::after {
    content: '';
    width: 100%;
    height: 0.18rem;
    background: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -0.37rem;
    transition: 0.5s;
    transition: scale, ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .about-col-1 img {
    margin-left: 1.2rem;
    margin-bottom: 31.8rem;
  }

  .tab-titles ul li a:hover {
    border-radius: none;
    width: 100%;
    padding: 0;
    box-shadow: none;
    color: var(--secondary-text);
  }

  .navbar .social-icons {
    display: flex;
    justify-content: center;
    margin: 0.6rem auto;
    align-content: center;
  }

  .navbar span a::after {
    display: none;
    width: 0;
    height: 0;
  }
}


@media (max-width: 722px) {
  .about-col-1 img {
    margin-left: 1.2rem;
    margin-bottom: 200px;
  }

}

@media (max-width: 600px) {

  .btnContainer {
    left: 10svw;
  }

  #theme-switch {
left: 52%;
}

  .logo {
   left: 2rem; 
  }

  .menuButton {
    right: 15%;
  }
  
    .codeProp {
  left: 77%;
}

  .sticky {
    box-shadow: 0 0 0.25rem var(--accent-color);
  }

  .homepage {
    align-content: center;
    height: 100svh;
  }


  .menuButton {
    display: inline-flex;
  }

  .about-col-1 img {
    margin-left: 1.2rem;
    margin-bottom: 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .navbar {
    height: 20rem;
    width: unset;
    position: absolute;
    left: 2rem;
    background: var(--tertiary-text);
    backdrop-filter: blur(50px);
    box-shadow: 0 1rem 1rex rgba(0, 0, 0, 0.1), 0 0 6px var(--accent-color);
    overflow: hidden;
    transition: 0.3s ease;
    text-shadow: none;
    border-radius: 10px;
    z-index: 40;
    margin-top: 0.31rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(0);
    transition: 0.3s ease;
    top: 5rem;
  }

  #check:checked~.navbar {
    transform: scale(1);
  }

  .navbar .social-icons {
    display: flex;
    justify-content: center;
    margin: 0.6rem auto;
    align-content: center;
  }

  .navbar .social-icons a {
    padding-left: 1rem;
    font-size: 2rem;
  }

 .navbar span a::after {
    display: none;
    width: 0;
    height: 0;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem auto;
    width: fit-content;
    text-align: center;
    transform: scale(0);
    transition: 0.3s ease;
    opacity: 0;
    text-shadow: none;
    position: relative;
    border-radius: none;
  }

  #check:checked~.navbar a {
    transform: scale(1);
    opacity: 1;
  }

  .navbar a:nth-child(1) {
  transition-delay: 0.1s;
}

.navbar a:nth-child(2) {
  transition-delay: 0.2s;
}

.navbar a:nth-child(3) {
  transition-delay: 0.3s;
}

.navbar a:nth-child(4) {
  transition-delay: 0.4s;
}

  .navbar a:hover {
    border: none;
  }

  .navbar a::after {
    content: '';
    width: 0%;
    height: 0.18rem;
    background: var(--secondary-text);
    position: absolute;
    left: 0;
    bottom: -0.37rem;
    transition: 0.5s;
    transition: scale, ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .navbar a:hover::after {
    width: 100%;
    left: 0;
  }

  .navbar a.active {
    border-radius: none;
    color: var(--base-color);
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }

  .navbar a.active::after {
    content: '';
    width: 100%;
    height: 0.18rem;
    background: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -0.37rem;
    transition: 0.5s;
    transition: scale, ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .navbar a span {
    display: inline;
  }


  h1 {
    font-size: 3.12rem;
    margin: auto 0;
  }

/*  .homepage h2 {
    font-size: 1.5rem;
  } */

  .blob {
    padding-bottom: 1rem;
  }

  .layer {
    height: 100%;
  }

  #theme-switch {
    left: 56%;
  }

  /*.tab-titles ul li a {
    display: block;
  }*/

  /*  .tab-titles ul li a::after {
       display: none;
     }*/

  .section {
    margin-top: 0;
    margin-bottom: 0;
  }

  .home2 {
    scale: 0.92;
  }

  .contact .btn2 {
    margin: 1.87rem;
  }

  .PageOut1 {
    position: fixed;
    background: var(--text-color);
    z-index: 990;
    height: 100%;
    width: 100%;
    /*border-radius: 0 0 30% 30%;*/
    left: 0;
    right: 0;
  }
  
  .PageOut2 {
    position: fixed;
    background: var(--text-color);
    z-index: 990;
    height: 100%;
    width: 100%;
    /*border-radius: 0 0 30% 30%;*/
    left: 0;
    right: 0;
  }

  .PagePath {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--base-color);
    font-size: 4rem;
    cursor: default;
    z-index: 995;
    width: fit-content;
    height: fit-content;
    font-family: 'penna', sans-serif;
  }

  .PageIn1 {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--text-color);
    /*border-radius: 30% 30% 0 0;*/
    left: 0;
    z-index: 990;
  }

  .PageIn2 {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--text-color);
    /*border-radius: 30% 30% 0 0;*/
    right: 0;
    z-index: 990;
  }

.loader {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--base-color);
   background: var(--text-color);
  font-size: 4rem;
  cursor: default;
  z-index: 9999;
  width: fit-content;
  height: fit-content;
  font-family: 'penna', serif;
    font-weight: bold;
}

.introduction {
    position: fixed;
      background: var(--text-color);
      z-index: 9990;
      height: 100svh;
      width: 100svw;
      top: 0;
 }
}

.PageOut1 {
    position: fixed;
    background: var(--text-color);
    z-index: 990;
    height: 100%;
    width: 100%;
    /*border-radius: 0 0 30% 30%;*/
    left: 0;
    right: 0;
  }
  
  .PageOut2 {
    position: fixed;
    background: var(--text-color);
    z-index: 990;
    height: 100%;
    width: 100%;
    /*border-radius: 0 0 30% 30%;*/
    left: 0;
    right: 0;
  }

  .PagePath {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--base-color);
    font-size: 4rem;
    cursor: default;
    z-index: 995;
    width: fit-content;
    height: fit-content;
    font-family: 'penna', sans-serif;
  }

  .PageIn1 {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--text-color);
    /*border-radius: 30% 30% 0 0;*/
    left: 0;
    z-index: 990;
  }

  .PageIn2 {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--text-color);
    /*border-radius: 30% 30% 0 0;*/
    right: 0;
    z-index: 990;
}

.loader {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--base-color);
   background: var(--text-color);
  font-size: 4rem;
  cursor: default;
  z-index: 9999;
  width: fit-content;
  height: fit-content;
  font-family: 'penna', serif;
    font-weight: normal;
}

.introduction {
    position: fixed;
      background: var(--text-color);
      z-index: 9990;
      height: 100svh;
      width: 100svw;
     top: 0;
}
