@font-face {
  font-family: 'time';
  src: url(assets/fonts/Timeless.ttf);
}

@font-face {
  font-family: 'tan';
  src: url(assets/fonts/MERINGUE.ttf);
}

@font-face {
  font-family: 'play';
  src: url(assets/fonts/PlayfairDisplay-Regular.ttf);
}


:root {
  --bg-color: #fff3e8;
  --text-color: #000;
  --invert-text05: rgba(0, 0, 0, 0.5);
  --invert-text08: rgba(0, 0, 0, 0.8);
  --primary-color: rgba(0, 0, 0, 0.16);
  --secondary-color: white;
  --accent-color: black;
  --tertiary-color: gray;
  --accent-color2: rgba(0, 0, 0, 0.2);
  --border-color: linear-gradient(rgba(0, 0, 0, 0.6));
  --text-color2: #000;
  --theme-switch: transparent;
 
  --grid-template-columns: 10% 1fr 1fr 1fr 10%;
    --grid-container-columns: 2/5;
    --section-padding: 16rem;

    --quad: cubic-bezier(0.25, 0.45, 0, 0.8);
    --ease-back: cubic-bezier(0.45, 1.45, 0.8, 1);
}

[data-theme="dark"] {
  --base-color: black;
  --text-color: #fff3e8;
  --secondary-text: rgba(255, 243, 232, 0.5);
  --tertiary-text: rgba(255, 243, 232, 0.8);
  --primary-color: transparent;
  --secondary-color: gray;
  --accent-color: transparent;
  --tertiary-color: white;
  --accent-color2: rgba(255, 243, 232, 0.5);;
  --border-color: rgba(255, 255, 255, 0.704);
  --text-color2: gray;
  --theme-switch: #fff3e8;
}
